.content {
    height: calc(100vh - 64px);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::webkit-scrollbar  {
        display: none;
    }
}

.item {
    margin-bottom: 20px;
}

.container {
    padding: 20px 0;
    color: #191616;
}
.controls-container {
    display: flex;
}