<app-page-header [title]="pageTitle">
  <div class="search-box">
    <form [formGroup]="searchBarForm">
      <input formControlName="searchInputField" type="search" placeholder="Search">
    </form>
  </div>
</app-page-header>

<div class="container">
  <mat-form-field [formGroup]="sortSelectForm" appearance="fill" >
    <mat-label>Sort by</mat-label>
    <mat-select formControlName="selectSortField">
      <mat-option *ngFor="let sort of sortByList" [value]="sort.value">
        {{sort.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <cdk-virtual-scroll-viewport #scroller itemSize="100" class="content">
      <div>
        <ng-container *cdkVirtualFor="let item of paginatedListItems; let i = index">
          <div class="item">
            <app-card-item [data]="item"></app-card-item>
          </div>
        </ng-container>
      </div>
      <div class="alerts" >
        <h1 *ngIf="loading">Loading</h1>
        <h1  *ngIf="!loading && !paginatedListItems?.length">No data</h1>
    </div>
    </cdk-virtual-scroll-viewport>
</div>
