ul {
    padding: 0;
    background: #252424;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    li {
        display: flex;
        color: #f3f2f2;
        a {
            background: transparent;
            color: #fff;
            border-radius: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            &.active {
                background: #515050;
      
            }
        }
    }
}