.page-header {
    background: #191616;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    h1 {
        padding: 10px 15px;
        display: inline-block;
        background: #e34630;
        margin: 0;
        color: #fff;
    }
    .control-container {
        align-self: flex-end;
        right: 1px;
    }
}